
.container {
  color: #2d882d;
  font-family: "Quantico", sans-serif;
  font-size: 20px;
}

img {
    width: 50%;
    opacity: 1;
  }
  .photo {
    border-radius: 50%;
  }


  @media only screen and (max-width: 575px) {
    .photo {
      width: 60%;
      display: block;
      float: none;
      margin: 0 auto 20px;
    }
  }
  
  @media only screen and (min-width: 576px) {
    .photo {
      width: 40%;
      float: left;
      margin: 10px 20px 10px 10px;
    }
    .clearfix {
      overflow: auto;
    }
    /* .imgContainer {
      width: 100%;
    } */
  }
  
  @media only screen and (min-width: 768px) {
    .photo {
      width: 30%;
      float: left;
      margin: 10px 20px 10px 10px;
    }
  
    .clearfix {
      overflow: auto;
    }
    /* .imgContainer {
      width: 50%;
    } */
  }
  
  @media only screen and (min-width: 992px) {
    .photo {
      width: 30%;
      float: left;
      margin: 10px 20px 10px 10px;
    }
  
    .clearfix {
      overflow: auto;
    }
    /* .imgContainer {
      width: 50%;
    } */
  }