 /* {
  color: #2d882d;
  font-family: "Quantico", sans-serif;
  font-size: 20px;
} */


.container .card {
    max-width: 960px;
    margin-top: 50px;
    background-color: rgb(119, 119, 119, 0);
    border: none;
  }

  .heading {
    font-weight: bold;
    padding: 0px 20px;
    color: #2d882d;
    font-family: "Quantico", sans-serif;
    font-size: 20px;
  }
