html {
  position: relative;
  min-height: 100%;
}

.container .card {
  max-width: 960px;
  margin-top: 50px;
  background-color: rgb(119, 119, 119, 0);
  border: none;
}

body {
  background-image: linear-gradient(
    #000000,
    #080d0d,
    #0f1a1a,
    #172727,
    #1e3434,
    #264141,
    #2d4e4e,
    #355b5b,
    #3d6767,
    #447474
  );
  /* color: #2d882d;
  font-family: "Quantico", sans-serif;
  font-size: 20px; */
}